.about {
  font-family: Arial, sans-serif;
  color: #333;
}

.about-header {
  background-color: #38000c;
  color: #fff;
  padding: 80px 20px;
  text-align: center;
}

.about-header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.about-header p {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.about-section {
  padding: 60px 20px;
  background-color: #f8f9fa;
}

.about-section h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
}

.about-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: center;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
}

.section-image {
  text-align: center;
  margin-top: 30px;
}

.section-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.room-image {
  flex: 1;
}

.room-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review {
  background-color: #007bff;
  color: #fff;
  padding: 80px 20px;
}

.review h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
}

.review-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.rating-stars {
  text-align: center;
  margin-top: 10px;
  font-size: 5rem;
  /* Increase size of the stars */
}

button {
  width: 100%;
  padding: 12px;
  background-color: #0056b3;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

button:hover {
  background-color: #0041a5;
}